<div>
  <article id="content_Resources_Colors" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" role="article">

      <div class="jumbotron">
        <h2 class="text-theme-color1">Colors</h2>
        <p>Functional color palettes which reinforce the Navisphere brand.</p>
      </div>

      <p>The palette below shows the primary colors that will be used throughout the style guide. The palette includes primary, accent, and semantic colors designed to work together and reinforce the Navisphere brand.</p>

      <p>As we continue to work on the style guide, we will continue to extend this palette to accommodate specific elements and provide guidance on how to apply these colors.</p>

      <h3>Primary Palette</h3>

      <div class="row">

        <div class="topicPalette bg-primary col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#0078ae</code>
            <span class="format">Sass variable:</span>
            <code class="value">$active-blue</code>
          </p>
        </div>

        <div class="topicPalette bg-theme-color1 col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#f47b20</code>
            <span class="format">Sass variable:</span>
            <code class="value">$navisphere-orange</code>
          </p>
        </div>

        <div class="topicPalette colorOverlayBlue col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#e8f0f4</code>
            <span class="format">Sass variable:</span>
            <code class="value">$overlay-blue</code>
          </p>
        </div>

      </div>

      <h3>Validation Palette</h3>

      <div class="row">

        <div class="topicPalette colorValidationGreen col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#7b9f1b</code>
            <span class="format">Sass variable:</span>
            <code class="value">$validation-green</code>
          </p>
        </div>

        <div class="topicPalette colorValidationYellow col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#e8af01</code>
            <span class="format">Sass variable:</span>
            <code class="value">$validation-yellow</code>
          </p>
        </div>

        <div class="topicPalette colorErrorRed col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#da0303</code>
            <span class="format">Sass variable:</span>
            <code class="value">$error-red</code>
          </p>
        </div>

      </div>

      <h3>Grayscale Palette</h3>

      <div class="row">

        <div class="topicPalette colorBlack col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#000000</code>
            <span class="format">Sass variable:</span>
            <code class="value">$black</code>
          </p>
        </div>

        <div class="topicPalette colorPlaceholderGray col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#adadad</code>
            <span class="format">Sass variable:</span>
            <code class="value">$placeholder-gray</code>
          </p>
        </div>

        <div class="topicPalette colorWhite col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#ffffff</code>
            <span class="format">Sass variable:</span>
            <code class="value">$white</code>
          </p>
        </div>

      </div>

      <div class="row">

        <div class="topicPalette colorDarkGray col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#363636</code>
            <span class="format">Sass variable:</span>
            <code class="value">$dark-gray</code>
          </p>
        </div>

        <div class="topicPalette colorMediumGray col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#676767</code>
            <span class="format">Sass variable:</span>
            <code class="value">$medium-gray</code>
          </p>
        </div>

        <div class="topicPalette colorLightGray col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#cccccc</code>
            <span class="format">Sass variable:</span>
            <code class="value">$light-gray</code>
          </p>
        </div>

        <div class="topicPalette colorUltraLightGray col-xs-6 col-md-4 col-lg-3">
          <p>
            <span class="format">hexadecimal format:</span>
            <code class="value">#ececec</code>
            <span class="format">Sass variable:</span>
            <code class="value">$ultra-light-gray</code>
          </p>
        </div>

      </div>

    </article>

</div>
